<launch>
  <arg name="joy_topic" default="/joy" />
  <arg name="config_path" default="$(env HOME)/.ros/joy_overlay_config.yaml" />
  <node pkg="joy_overlay_tools" type="joy_overlay_visualizer.py" name="joy_overlay_visualizer" output="screen">
    <param name="joy_topic" value="$(arg joy_topic)" />
    <param name="config_path" value="$(arg config_path)" />
  </node>
</launch>
